$var1: #cdcdcd;
$var2: #f1cdb3;
$var3: #545454;
$var4: #292929;
$var5: #ffffff;
$var6: #fddcc4;
$var7: #f6f6f6;
$var8: #fafafa;
$var9: #b2b2b2;
$var10: #dddddd;

$desktop-width: 1280px;
$tablet-width: 1279px;
$mobile-width-only: 767px;

%georgia-font {
  font-family: Georgia, "Times New Roman", Times, serif;
  src: url(./fonts/georgia.woff);
  font-style: normal;
  font-weight: 400;
}

%arial-font {
  font-family: Arial, Helvetica, sans-serif;
  src: url(./fonts/arial.woff);
  font-style: normal;
  font-weight: 400;
}

img {
  width: 100%;
  height: 100%;
}

.wrapper {
  background: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
}

.page {
  position: relative;

  &__pets {
    background: none;
    box-sizing: border-box;
  }

  scroll-behavior: smooth;
  @extend %arial-font;
  color: $var1;

  &-body {
    margin: 0;
    &__header {
      padding-top: 30px;
    }
  }
}

.container {
  width: 93.75wv;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;

  @media (max-width: $tablet-width) {
    width: 92.2vw;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (max-width: $mobile-width-only) {
    width: 87.5vw;
    padding-left: 20px;
    padding-right: 20px;
  }
}

ul {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.visually-hidden,
.button-burger {
  visibility: hidden;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;

  &--pets {
    padding-bottom: 11px;
  }
  &__caption {
    font-size: 32px;
    margin: 0;
    color: $var2;
    font-weight: 400;
    letter-spacing: 0.06em;
    line-height: 35px;
    @extend %georgia-font;
    &--pets {
      color: $var3;
    }
    &-mini {
      font-size: 13px;
      margin: 0;
      color: $var5;
      letter-spacing: 0.12em;
      padding-top: 10px;
      &--pets {
        color: $var4;
        letter-spacing: 0.15em;
      }
    }
  }
  &__list {
    padding-top: 18px;
    color: $var1;
    display: flex;
    cursor: pointer;
    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }

  .button-burger::before {
    display: block;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: black;
    box-shadow: 0 8px 0 0 black, 0 16px 0 0 black;
    z-index: 10;
  }
}

@media (min-width: $tablet-width) {
  .main-nav .button-burger {
    display: none;
  }
}

.button-burger {
  z-index: 2;
  display: block;
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
  width: 24px;
  height: 17px;
  position: relative;
  right: -4px;
  top: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.main-nav--opened .button-burger {
  top: 0;
  right: 0;
  left: auto;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 1px;
    background-color: black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
    right: 8px;
    top: 4px;
  }

  &::after {
    top: 4px;
    right: 0;
    left: 1px;
    transform: rotate(-45deg);
  }
}

.site-list__link--active-pets {
  color: $var4;
}

button {
  cursor: pointer;
}

.site-list__link {
  color: $var1;
  text-decoration: none;
  margin-left: 29px;
  padding-bottom: 5px;
  &--pets {
    margin-left: 41px;
    &:hover {
      color: $var4;
    }
  }
  &:hover {
    color: $var4;
  }
  &--pets {
    color: $var3;
  }
  &:active {
    color: $var5;
  }
  &--active,
  &--active:hover,
  &--active:active {
    border-bottom: 3px solid $var2;
    color: $var8;
  }
  &--active-pets,
  &--active-pets:hover {
    color: $var4;
  }
}

.not-only {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 66px;

  @media (max-width: $tablet-width) {
    width: 92.2vw;
    flex-direction: column;
    padding-top: 0;
  }

  &__caption {
    font-size: 44px;
    line-height: 57px;
    padding-right: 20px;
    margin: 0;
    font-size: 44px;
    line-height: 57px;
    color: $var5;
    padding-bottom: 38px;
    display: block;
    max-width: 30vw;
    @extend %georgia-font;

    @media (max-width: $tablet-width) {
      max-width: 74.3vw;
      padding-right: 173px;
    }

    @media (max-width: $mobile-width-only) {
      font-size: 25px;
      padding-right: 20px;
      padding-left: 20px;
      text-align: center;
      margin: 0 auto;
      letter-spacing: 0.06em;
      line-height: 32px;
      padding-bottom: 42px;
    }
  }
  &__description {
    font-size: 15px;
    line-height: 24px;
    padding-bottom: 61px;
    display: block;
    padding-right: 26px;
    margin: 0;
    @media (max-width: $tablet-width) {
      padding-bottom: 45px;
      max-width: 70vw;
      padding-right: 124px;
    }
    @media (max-width: $mobile-width-only) {
      max-width: 100%;
      padding-right: 0;
      text-align: center;
      padding-bottom: 41px;
    }
  }

  &__content {
    padding-top: 168px;

    @media (max-width: $tablet-width) {
      padding-top: 40px;
      padding-left: 124px;
    }

    @media (max-width: $mobile-width-only) {
      padding-left: 0;
      padding-top: 43px;
      margin: 0 auto;
    }
  }

  &__img {
    position: relative;
    bottom: 0;
    right: 0;
    width: 54.7vw;
    height: 56.9vw;
    max-width: 700px;
    max-height: 728px;
    @media (max-width: $tablet-width) {
      width: 74.2vw;
      padding-top: 100px;
      padding-left: 139px;

      max-width: 569px;
      height: auto;
    }
    @media (max-width: $mobile-width-only) {
      padding-left: 40px;
      width: 80vw;
      padding-top: 107px;
    }
  }
}
.yellow-button {
  @extend %georgia-font;
  &__center {
    @media (max-width: $tablet-width) {
      display: flex;
      justify-content: center;
      max-width: 207px;
      margin-left: 127px;
      padding-left: 0;
      padding-right: 0;
    }

    @media (max-width: $mobile-width-only) {
      margin: 0 auto;
    }
  }
  background-color: $var2;
  padding: 16px 45px;
  border: none;
  border-radius: 100px;
  font-size: 17px;
  letter-spacing: 0.06em;
  color: $var4;
  &:hover {
    background: $var6;
  }
}
.about,
.in-addition {
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: $var3;
  @extend %georgia-font;
  &__text {
    padding: 20px 0 20px;
    max-width: 430px;
    display: block;
    align-self: end;
  }
}
.about {
  margin: 79px 175px 94px;
  background: url("./img/about-pets.png") no-repeat;
  &__caption {
    font-weight: normal;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    padding-right: 18px;
    margin: 0;
  }
  &__description {
    font-size: 15px;
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding-top: 25px;
  }
}
.in-addition {
  background-color: $var7;
  background-image: url("./img/donation-dog.png") no-repeat;
  background-position: 23% 47%;
  &__container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  &__text {
    margin: 0 0 0 auto;
    padding-left: 30px;
    padding-top: 0;
  }
  &__description {
    font-size: 15px;
    color: $var3;
    margin: 0;
    letter-spacing: 0.06em;
    padding-bottom: 17px;
    &--second {
      color: $var9;
      font-weight: normal;
      font-style: italic;
      font-size: 12px;
      line-height: 18px;
      font-family: Arial, Helvetica, sans-serif;
      padding-right: 16px;
      padding-top: 20px;
      letter-spacing: normal;
    }
  }
  &__span {
    @extend %georgia-font;
    font-size: 20px;
    letter-spacing: 0.06em;
    padding-left: 10px;
    color: $var3;
  }
  &__button {
    background-color: $var2;
    border-radius: 9px;
    border: none;
    padding: 9px 14px 10px 11px;
    width: 321px;
  }
  &__caption {
    margin: 0;
    font-size: 35px;
    font-weight: normal;
    letter-spacing: 0.06em;
    line-height: 45px;
    padding-bottom: 17px;
  }
}
.our-friends {
  background-color: $var8;
  background: $var7;
  padding-top: 76px;
  padding-bottom: 100px;
  &--pets {
    padding-bottom: 95px;
  }
  &__slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__caption {
    font-size: 35px;
    letter-spacing: 0.06em;
    line-height: 45px;
    font-weight: normal;
    @extend %georgia-font;
    margin: 0;
    text-align: center;
    padding-bottom: 60px;
    color: $var3;
  }
  &__button {
    padding: 14px 17px;
    border: 2px solid $var2;
    border-radius: 100px;
    background: $var7;
    width: 52px;
    height: 52px;
    margin-top: -61px;
    &--inactive {
      border: 2px solid $var1;
    }
    &--active {
      background-color: $var2;
    }
  }
  &__list {
    display: flex;
    padding: 0 40px;
    list-style: none;
    margin: 0;
    justify-content: space-between;
    padding-bottom: 56px;
    &--pets {
      padding: 0;
      flex-wrap: wrap;
      display: flex;
    }
  }
  &__item {
    padding-right: 90px;
    cursor: pointer;
    &--pets {
      padding-right: 0;
      padding-bottom: 26px;
    }
    &:last-child {
      padding-right: 0;
    }
  }
  &__pets-name {
    font-size: 20px;
    color: $var3;
    @extend %georgia-font;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.our-friend {
  padding: 0;
  list-style: none;
  margin: 0;
  background-color: $var8;
  padding-bottom: 30px;
  border-radius: 9px;
  &:hover {
    background-color: #fff;
    .learn-more {
      background: $var6;
    }
  }
  &:active {
    border: 1px solid black;
  }
}
.learn-more {
  border: 2px solid $var2;
  border-radius: 100px;
  padding: 15px 42px;
  font-size: 17px;
  @extend %georgia-font;
  background-color: $var8;
  display: block;
  margin: 0 auto;
  letter-spacing: 0.06em;
  max-width: 260px;
  color: $var4;
  &--yellow {
    background-color: $var2;
    padding: 15px 36px;
    max-width: 181px;
  }
}
.learn-more--yellow:hover,
.our-friends__button:hover,
.in-addition__button:hover {
  background: $var6;
}
.help {
  padding: 80px 87px 34px 87px;
  &__caption {
    color: $var3;
    font-size: 35px;
    margin: 0;
    text-align: center;
    letter-spacing: 0.06em;
    @extend %georgia-font;

    line-height: 45px;
  }
  &__container {
    margin: 0 auto;
  }
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 64px;
    margin: 0 auto;
    li {
      padding-left: 121px;
      font-size: 22px;
      @extend %georgia-font;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-top: 3px;
      padding-bottom: 40px;
      color: $var3;
      &:nth-child(1),
      &:nth-child(6) {
        padding-left: 0;
      }
    }
  }
  &__svg {
    margin: 0 auto;
    display: block;
    margin-top: -7px;
    padding-bottom: 6px;
  }
}
* .in-addition__container {
  margin: 85px 186px 65px;
  display: flex;
}
.pagination {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-self: center;
  padding-top: 30px;
  width: 340px;
  justify-content: space-between;

  &__container {
    display: flex;
  }

  &__active {
    background-color: $var2;
    color: $var4;
    border: 1px solid $var2;
  }

  &__active:hover,
  &__choice:hover {
    background-color: $var6;
    border: 1px solid $var6;
  }

  &__inactive {
    cursor: auto;
  }

  &__link {
    border-radius: 100px;
    text-decoration: none;
    border: 1px solid $var10;
    width: 52px;
    height: 52px;
    display: flex;

    span {
      align-self: center;
      margin: 0 auto;
    }
  }
  &__choice {
    border: 1px solid $var2;
    color: $var2;
  }
}
.footer {
  background: linear-gradient(to right, #3d3027, #19191b);
  padding-top: 52px;
  &__list {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-right: 68px;
    li {
      padding-top: 3px;
      display: flex;
      padding-bottom: 0;
      a {
        color: $var2;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
        border: none;
      }
    }
  }
  &__waiting-list {
    display: flex;
    flex-direction: column;
    li {
      padding-bottom: 33px;
      &:first-child {
        @extend %georgia-font;

        font-size: 35px;
        color: $var5;
        line-height: 45px;
        letter-spacing: 0.06em;
        padding-top: 0;
      }
    }
    .footer__questions {
      padding-bottom: 45px;
      padding-top: 10px;
    }
    a {
      text-decoration: none;
      display: flex;
    }
  }
  &__item {
    padding-right: 93px;
    width: 23vw;
    letter-spacing: 0.06em;
    &:last-child {
      padding-right: 0;
      margin-right: -54px;
      margin-top: -15px;
    }
  }
  &__svg {
    width: auto;
    height: 100%;
    margin-right: 15px;
    margin-left: 2px;
  }
}
