.page {
  background: url("./img/dog-main.png") no-repeat center top;
  background-size: auto;

  font-family: Arial, Helvetica, sans-serif;
  color: #cdcdcd;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

.visually-hidden,
.button-burger {
  visibility: hidden;
}

.page-body {
  padding-top: 30px;
  margin: 0;
}

/*main-nav*/

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-nav__caption {
  font-size: 32px;
  margin: 0;
  color: #f1cdb3;
  font-weight: 400;
  letter-spacing: 0.06em;
  line-height: 35px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.main-nav__caption-mini {
  font-size: 13px;
  margin: 0;
  color: #fff;
}

.main-nav__list {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  color: #cdcdcd;
  display: flex;
}

.site-list__link {
  color: #cdcdcd;
  text-decoration: none;
  margin-left: 35px;
  padding-bottom: 3px;
}

.site-list__link--active {
  border-bottom: 3px solid #f1cdb3;
}

.not-only {
  padding-top: 253px;
  max-width: 36vw;
  padding-bottom: 210px;
}

.not-only__caption {
  font-size: 44px;
  line-height: 57px;
  padding-right: 20px;
  margin: 0;
  font-size: 44px;
  line-height: 57px;
  color: #fff;
  padding-bottom: 42px;
  display: block;
  max-width: 30vw;
}

.not-only__description {
  font-size: 15px;
  line-height: 24px;
  padding-bottom: 42px;
  display: block;
  max-width: 460px;
}

.yellow-button {
  background-color: #f1cdb3;
  padding: 15px 45px;
  border: none;
  border-radius: 100px;
}

.about {
  background: url("./img/about-pets.png") no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: 94px 175px;
  color: #545454;
  max-width: 1200px;
 
  font-family: Georgia, "Times New Roman", Times, serif;
}

.about__text {
  padding: 20px 0 20px;
  max-width: 430px;
  display: block;align-self: end;
}

.about__caption {
  font-weight: normal;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  padding-right: 18px;
  margin: 0;
}

.about__description {
  font-size: 15px;
  line-height: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

.our-friends {
  background-color: #fafafa;
  background: #f6f6f6;
  padding-top: 60px;
  padding-bottom: 100px;
}

.our-friends__slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.our-friends__caption {
  font-size: 35px;
  letter-spacing: 0.06em;
  line-height: 45px;
  font-weight: normal;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  text-align: center;
  padding-bottom: 60px;
  color: #545454;
}

.our-friends__button {
  padding: 14px 17px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  background: #f6f6f6;
  width: 52px;
  height: 52px;
}

.our-friends__list {
  display: flex;
  padding: 0 40px;
  list-style: none;
  margin: 0;
  justify-content: space-between;
  padding-bottom: 60px;
}

.our-friend {
  padding: 0;
  list-style: none;
  margin: 0;
  background-color:  #FAFAFA;;
  padding-bottom: 30px;
  border-radius: 9px;
}

.our-friends__item {
 
  padding-right: 90px;
}

.our-friends__item:last-child {
  padding-right: 0;
}

.our-friends__pets-name {
  font-size: 20px;
  color: #545454;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center; 
padding-top: 30px;
padding-bottom: 30px;
}

.learn-more {
border: 2px solid #F1CDB3;
border-radius: 100px;
padding: 15px 45px;
font-size: 17px;
font-family: 'Georgia';
background-color:  #FAFAFA;
display: block;
margin: 0 auto;
}

.learn-more--yellow {
  background-color: #F1CDB3;
}