.page {
  background: url("./img/dog-main.png") no-repeat center top;
  background-size: auto;
  scroll-behavior: smooth;

  font-family: Arial, Helvetica, sans-serif;
  color: #cdcdcd;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

.visually-hidden,
.button-burger {
  visibility: hidden;
}

.page-body {
  padding-top: 30px;
  margin: 0;
}

/*main-nav*/

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-nav__caption {
  font-size: 32px;
  margin: 0;
  color: #f1cdb3;
  font-weight: 400;
  letter-spacing: 0.06em;
  line-height: 35px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.main-nav__caption-mini {
  font-size: 13px;
  margin: 0;
  color: #fff;
  letter-spacing: 0.1em;
  padding-top: 10px;
}

.main-nav__list {
  padding-top: 18px;
  color: #cdcdcd;
  display: flex;
  cursor: pointer
}

button {cursor: pointer}

.site-list__link {
  color: #cdcdcd;
  text-decoration: none;
  margin-left: 30px;
  padding-bottom: 5px;
}

.not-only {
  padding-top: 235px;
  max-width: 36vw;
  padding-bottom: 226px;
}

.not-only__caption {
  font-size: 44px;
  line-height: 57px;
  padding-right: 20px;
  margin: 0;
  font-size: 44px;
  line-height: 57px;
  color: #fff;
  padding-bottom: 38px;
  display: block;
  max-width: 30vw;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
}

.not-only__description {
  font-size: 15px;
  line-height: 24px;
  padding-bottom: 61px;
  display: block;
  max-width: 460px;
  margin: 0;
}

.yellow-button {
  background-color: #f1cdb3;
  padding: 16px 45px;
  border: none;
  border-radius: 100px;
  font-size: 17px;
  letter-spacing: 0.06em;
  color: #292929;
}

.yellow-button:hover {
  background: #FDDCC4;
}

.about,
.in-addition {
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: #545454;

  font-family: Georgia, "Times New Roman", Times, serif;
}

.about {
  margin: 107px 175px 94px;
  background: url("./img/about-pets.png") no-repeat;
}

.in-addition {
  background-color: #f6f6f6;
  padding-bottom: 64px;
  background-image: url("./img/donation-dog.png") no-repeat;
  background-position: 23% 47%;
}

.in-addition__container {
  padding: 85px 185px 0;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.about__text,
.in-addition__text {
  padding: 20px 0 20px;
  max-width: 430px;
  display: block;
  align-self: end;
}

.about__caption {
  font-weight: normal;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  padding-right: 18px;
  margin: 0;
}

.about__description {
  font-size: 15px;
  line-height: 24px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding-top: 25px;
}

.our-friends {
  background-color: #fafafa;
  background: #f6f6f6;
  padding-top: 76px;
  padding-bottom: 100px;
}

.our-friends__slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.our-friends__caption {
  font-size: 35px;
  letter-spacing: 0.06em;
  line-height: 45px;
  font-weight: normal;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  text-align: center;
  padding-bottom: 60px;
  color: #545454;
}

.our-friends__button {
  padding: 14px 17px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  background: #f6f6f6;
  width: 52px;
  height: 52px;
  margin-top: -61px;
}

.our-friends__list {
  display: flex;
  padding: 0 40px;
  list-style: none;
  margin: 0;
  justify-content: space-between;
  padding-bottom: 56px;
}

.our-friend {
  padding: 0;
  list-style: none;
  margin: 0;
  background-color: #fafafa;
  padding-bottom: 30px;
  border-radius: 9px;
}

.our-friends__item {
  padding-right: 90px;
  cursor: pointer
}

.our-friends__item:last-child {
  padding-right: 0;
}

.our-friends__pets-name {
  font-size: 20px;
  color: #545454;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.learn-more {
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  padding: 15px 42px;
  font-size: 17px;
  font-family: "Georgia";
  background-color: #fafafa;
  display: block;
  margin: 0 auto;
  letter-spacing: 0.06em;
  max-width: 260px;
  color: #292929;

}

.learn-more--yellow {
  background-color: #f1cdb3;
  padding: 15px 36px;
  max-width: 181px;
}

.learn-more--yellow:hover,
.our-friends__button:hover {
  background: #FDDCC4;

}

.our-friends__button--inactive {
  border:2px solid #CDCDCD;
}

.our-friends__button--active {
  background-color:#F1CDB3;
}

.help {
  padding: 80px 87px 34px 87px;
}

.help__caption {
  color: #545454;
  font-size: 35px;
  margin: 0;
  text-align: center;
  letter-spacing: 0.06em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  line-height: 45px;
}

.help__container {
  margin: 0 auto;
}

.help__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 59px;
  margin: 0 auto;
}

.help__list li {
  padding-left: 121px;
  font-size: 22px;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 5px;
  padding-bottom: 40px;
  color: #545454;
}

.help__list li:nth-child(1),
.help__list li:nth-child(6) {
  padding-left: 0;
}

.help__svg {
  margin: 0 auto;
  display: block;
  margin-top: -7px;
  padding-bottom: 6px;
}

/* .in-addition__container {
  margin: 94px 175px;
  display: flex;
} */

.in-addition__text {
  margin: 0 0 0 auto;
  padding-left: 30px;
  padding-top: 0;
}

.in-addition__description {
  font-size: 15px;
  color: #545454;
  margin: 0;
  letter-spacing: 0.06em;
  padding-bottom: 17px;
}

.in-addition__span {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  letter-spacing: 0.06em;
  padding-left: 10px;
}

.in-addition__button {
  background-color: #f1cdb3;
  border-radius: 9px;
  border: none;
  padding: 7px 17px 9px 15px;
}

.in-addition__description--second {
  color: #b2b2b2;
  font-weight: normal;
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 16px;
  padding-top: 20px;
  letter-spacing: normal;
}

.in-addition__caption {
  margin: 0;
  font-size: 35px;
  font-weight: normal;
  letter-spacing: 0.06em;
  line-height: 45px;
  padding-bottom: 17px;
}

.footer {
  background: linear-gradient(to right, #3d3027, #19191b);
  padding-top: 56px;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-right: 68px;
}

.footer__waiting-list {
  display: flex;
  flex-direction: column;
}

.footer__list li {
  
  padding-top: 3px;
  display: flex;
  padding-bottom: 0;
}

.footer__list li a {
  color: #f1cdb3;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  border: none;
}

.footer__waiting-list li {
  padding-bottom: 33px;
}

.footer__waiting-list li:first-child {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  color: #ffffff;
  line-height: 45px;
  letter-spacing: 0.06em;
  padding-top: 0;
}

.footer__item {
  padding-right: 93px;
  width: 23vw;
  letter-spacing: 0.06em;
}

.footer__item:last-child {
  padding-right: 0;
  margin-right: -54px;
  margin-top: -15px;
}

.footer__svg {
  width: auto;
  height: 100%;
  margin-right: 15px;
  margin-left: 2px;
}

.footer__waiting-list .footer__questions {
  padding-bottom: 45px;
  padding-top: 10px;
}

.footer__waiting-list a {
text-decoration: none;
display: flex;
}

.site-list__link:hover {
  color: #fafafa;
}

.site-list__link {
  color: #cdcdcd;
}

.site-list__link:active {
  color: white;
}

.site-list__link--active,
.site-list__link--active:hover,
.site-list__link--active:active {
  border-bottom: 3px solid #f1cdb3;
  color: #fafafa;
}

.our-friend:hover .learn-more {
  background: #fddcc4;
}

.our-friend:active {
  border: 1px solid black;
}
